
.btn-primary {
    background: #6c63ff;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.work-page-content h1 {
    font-family: 'Playfair Display',
        serif;
    font-weight: bold;
    color: black;
    font-size: 60px;
    line-height: 80px;
}

.work-page-content h3 {
    font-size: 24px;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.5;
    margin: 20px 0 0;
}

.work-page-content p {
    font-size: 14px;
}



@media (max-width: 900px) {


    .work-page-content {
        text-align: center;
        padding: 0;
    }

    .work-page-content h1 {
        font-size: 20px;
        line-height: 2;
    }
}